/* Add your own CSS code below */

.countries {
  display: flex;
}

.countries--first {
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.countries--second {
  flex-direction: column;
}

.countries--third {
  flex-direction: column-reverse;
}
