.countries {
  display: flex;
}

.countries--first .country--brazil {
  order: 1;
}

.countries--second .country--brazil {
  order: 1;
}

.countries--third {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
/* Add your own CSS code below */
